* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0px 10px;
    color: white;
    background-color: black;
}

.title {
    color: white;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.table {
    width: 100%;
    text-align: center;
}

.main__column {
    height: 100%;
    background-color: grey;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

.diagram-title {
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
}

.diagram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

.unit {
    fill: none;
    stroke-width: 10;
}

.unit:nth-child(1) {
    stroke: #86cfa3;
    stroke-dasharray: 100 150;
}

.unit:nth-child(2) {
    stroke: #a2c6e0;
    stroke-dasharray: 70 150;
    stroke-dashoffset: -30;
}

.unit:nth-child(3) {
    stroke: #ffc7ec;
    stroke-dasharray: 100 150;
    stroke-dashoffset: -45;
}

.unit:nth-child(4) {
    stroke: red;
    stroke-dasharray: 95 150;
    stroke-dashoffset: -80;
}

.legend {
    max-width: 250px;
    margin-left: 30px;
}

.legend__item1 {
    background-color: #86cfa3;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
}

.legend__item2 {
    background-color: #a2c6e0;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
}

.legend__item3 {
    background-color: #ffc7ec;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
}

.legend__item4 {
    background-color: red;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
}

.legend__desc {
    display: flex;
    text-align: right;
    margin-right: 30px;
}

.legend__price {
    display: flex;
    text-align: left;
    margin-left: 30px;
}



.table__row {
    background-color: black;
}

.editor__input {
    width: 100%;
    background-color: grey;
    color: white;
    display: inline;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;
}

input::-webkit-input-placeholder {
    color: white;
}

.edit__input {
    width: 100%;
    outline: none;
}

.btn {
    margin-top: 25px;
    background-color: black;
    color: white;
}

.cash__td {
    background-color: black;
}