* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0px 10px;
    color: white;
    background-color: black;
}

.title {
    color: white;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.table {
    width: 100%;
    text-align: center;
}

.main__column {
    height: 100%;
    background-color: grey;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

.diagram-title {
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
}

.legend__item {
    background-color: black;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 5px 10%;
    border-radius: 5px;
    display: flex;
}

.legend__desc {
    text-align: right;
}

.legend__price {
    text-align: left;
}